<style>
   ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  }
  li {
    float: left;
    font-size: 20px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #d1e0e0;
  }
</style>
<h2>Create new category</h2>
<%= form_with model: @category, method: :post do |form| %>
	<div>
	  <%= form.label :Name%><br><br>
	  <%= form.text_field :name%><br><br>
	</div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<ul style="position: relative; top: -313px; left: 1462px;">
<!-- <li><a href="<%#=categories_path%>">Back</a></li> -->
<li><%= link_to image_tag("/assets/back.jpg", height: '30', width: '30'), categories_path %></li>
</ul>